body {
    transition: 0.3s ease;
    margin: 0;
    height: 100vh;
    position: relative;

    background-color: rgb(39, 255, 111);

}

.circle {
     transition: 0.3s ease;

    z-index: 2;

    background-color: rgb(39, 255, 111);
    height: 80px;
    width: 100px;

    border-radius: 50%;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    border: 3px solid rgb(11, 121, 48);

    box-shadow: 0 6px 0 rgb(11, 121, 48);
}

.circle2 {
    transition: 0.3s ease;

    z-index: 1;
    background-color: rgb(24, 52, 47);
    height: 80px;
    width: 110px;

    border-radius: 50%;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -35%);

    border: 3px solid rgb(31, 64, 58);

    box-shadow: 0 6px 0 rgb(13, 28, 25);
}

.Text {
    transition: 0.3s ease;
    
    z-index: 3;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -200%);

     font-family: 'Noto Sans Arabic', sans-serif;
     font-size: 175%;

     color:rgb(6, 116, 43) ;
}

.Text2 {
    transition: 0.3s ease;
    
    z-index: 4;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -225%);

    font-family: 'Noto Sans Arabic', sans-serif;
    font-size: 220%;

    color:rgb(6, 116, 43) ;
}

.ScoreInS {
    transition: 0.3s ease;

    z-index: 5;

    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -450%);

    font-family: 'Noto Sans Arabic', sans-serif;
    font-weight: 900;
    
    color: rgb(6, 116, 43);
}

.ScoreInMin {
    transition: 0.3s;

    z-index: 6;

    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -500%);

    font-family: 'Noto Sans Arabic', sans-serif;
    font-weight: 900;

    color: rgb(6, 116, 43);
}
